<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean name="c" class="pojo.Category">
        <property name="name" value="category 1" />
    </bean>
    <bean name="p" class="pojo.Product">
        <property name="name" value="product1"/>
        <property name="category" ref="c"/>
    </bean>

    <bean name="s" class="service.ProductService"/>
    <bean id="loggerAspect" class="aspect.LoggerAspect"/>

    <aop:config>
        <aop:pointcut id="loggerCutPoint"
                      expression="execution(* service.ProductService.*(..))"/>
        <aop:aspect id="logAspect" ref="loggerAspect">
            <aop:around pointcut-ref="loggerCutPoint"
                        method="log"/>
        </aop:aspect>
    </aop:config>

</beans>